.App {
  text-align: center;
}
.row{
  color: white;
  background-color:rgb(101, 214, 209);
}

.list{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  font-size: large;
  cursor: pointer;
}
ul li:hover{
  background-color: rgb(235, 139, 139);
  
}